@font-face {
  font-family: 'burbank';
  src: asset-data-url('BurbankBigCondensed-Bold.woff2') format('woff2'),
  asset-data-url('BurbankBigCondensed-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.home {
  min-height: 100vh;

  .title-600, .title-400 {
    font-family: 'burbank';
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0;
    text-align: inherit;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 2px 20px #000;
    color: #D7C077;
  }

  .title-600{ font-size: 650%; }
  .title-400{ font-size: 370%; }

  .home-button {
    margin: 0 auto;
    a.burbank {
      font-family: 'burbank';
      font-size: 1.75em;
      text-transform: uppercase;
      color: #fff;
      border: none;
      padding: 1em;
      text-decoration: none;
      -webkit-transition: background-color .3s ease;
      -o-transition: background-color .3s ease;
      transition: background-color .3s ease;

    }

    a.padawan{
      background-color: #33E6AC;
      &:hover{
        background-color: #00C0A9;
      }
    }

    a.admin{
      background-color: #E7250A;
      &:hover{
        background-color: #B70000;
      }
    }
  }
}

.btn-outline-secondary{
  color: #f8f9fa;
  border-color: #f8f9fa;

  &:not([disabled]):not(.disabled):active,
  &:hover{
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;

    transition: color 2s linear;
    -webkit-transition: color 2s linear;
    transition: background-color 2s linear;
    -webkit-transition: background-color 2s linear;
    transition: border-color 2s;
    -webkit-transition: border-color 2s;
  }
}

.padding-home{
  padding-top: 75px;
}

.titulo-app,
.logo-app,
.home-title-edition{
  margin: 0 auto;

  img{
    max-width: 100%;
  }
}

.login-form {
  font-family: 'Kimberley';
}

.index-autor, .index-frase{
  color: gold;
  font-family: 'Oregano', cursive;
  font-size: 280%;
}

.index-frase {
  text-align: center;
}

.index-autor {
  text-align: right;
}

.login-form .btn{
  padding: 5px 15px;
}

@media (min-width: 760px) {
  .titulo-app,
  .logo-app {
    width: 50%;
  }
  .home-title-edition{
    width: 90%;
  }
}

@media (min-width: 992px) {
  .titulo-app,
  .logo-app {
    width: 50%;
  }
  .home-title-edition{
    width: 90%;
  }
}


@media (min-width: 1200px) {
  .titulo-app,
  .logo-app {
    width: 20%;
  }

  .home-title-edition{
    width: 50%;
  }
}