.chat{
  height: 100vh;
  background-image: linear-gradient(120deg, #11383a 7.14%, #262635 7.14%, #262635 21.43%, #27273a 21.43%, #27273a 50%, #11383a 50%, #11383a 57.14%, #262635 57.14%, #262635 71.43%, #27273a 71.43%, #27273a 100%);    background-size: 4.62px 8.00px;
  background-size: 4.62px 8.00px;
  div,
  span {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
  }

  .fa-2x {
    font-size: 1.5em !important;
  }

  .app {
    position: relative;
    overflow: hidden;
    top: 0;
    height: 100vh;
    margin: auto !important;
    padding: 0 !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
  }

  .app-one {
    background-color: #f7f7f7;
    height: 100%;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
  }

  .side {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
  }
  .side-one {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    top: 0;
  }

  .side-two {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    top: -100%;
    left: -100%;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;

  }


  .heading {
    padding: 10px 16px 10px 15px;
    margin: 0 !important;
    height: 100px;
    width: 100%;
    background-color: #1B1B1B;
    z-index: 1000;
    color: #E88F3D;
    text-transform: uppercase;

  }

  .heading-avatar {
    padding: 0 !important;
    cursor: pointer;

  }

  .heading-avatar-icon img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

  .heading-name {
    padding: 0 !important;
    cursor: pointer;
  }

  .heading-name-meta {
    font-weight: 700;
    font-size: 1.5em;
    padding: 5px;
    padding-bottom: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    display: block;
  }
  .heading-online {
    display: none;
    padding: 0 5px;
    font-size: 12px;
    color: #93918f;
  }
  .heading-compose {
    padding: 0;
  }

  .heading-compose i {
    text-align: center;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
  }

  .heading-dot {
    padding: 0;
    margin-left: 10px;
  }

  .heading-dot i {
    text-align: right;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
  }

  .searchBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%;
  }

  .searchBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    background-color: #fbfbfb;
  }


  /*#searchBox-inner input {
    box-shadow: none;
  }*/

  .searchBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

  .sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 120px);
  }

  .sideBar-body {
    position: relative;
    padding: 10px !important;
    border-bottom: 1px solid #f7f7f7;
    //height: 72px;
    margin: 0 !important;
    cursor: pointer;
    font-size: 0.9em;

    &.sideBar-body-success{
      background-color: #28A745;
      color: white;
    }
  }

  .sideBar-body:hover {
    background-color: #f2f2f2;
  }

  .sideBar-avatar {
    text-align: center;
    padding: 0 !important;
  }

  .avatar-icon {
    margin: 0 auto;
    & img {
      border-radius: 50%;
      height: 49px;
      width: 49px;
    }

    .no-avatar{
      height: 49px!important;
      width: 49px!important;
    }
  }

  .sideBar-main {
    padding: 0 !important;
  }

  .sideBar-main .row {
    padding: 0 !important;
    margin: 0 !important;
  }

  .sideBar-name {
    padding: 10px !important;
  }

  .name-meta {
    font-size: 2em;
    padding: 1% !important;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
  }

  .sideBar-time {
    padding: 10px !important;
  }

  .time-meta {
    text-align: right;
    font-size: 12px;
    padding: 1% !important;
    color: rgba(0, 0, 0, .4);
    vertical-align: baseline;
  }

  /*New Message*/

  .newMessage {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    position: relative;
    left: -100%;
  }
  .newMessage-heading {
    padding: 10px 16px 10px 15px !important;
    margin: 0 !important;
    height: 100px;
    width: 100%;
    background-color: #00bfa5;
    z-index: 1001;
  }

  .newMessage-main {
    padding: 10px 16px 0 15px !important;
    margin: 0 !important;
    height: 60px;
    margin-top: 30px !important;
    width: 100%;
    z-index: 1001;
    color: #fff;
  }

  .newMessage-title {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 5px !important;
  }
  .newMessage-back {
    text-align: center;
    vertical-align: baseline;
    padding: 12px 5px !important;
    display: block;
    cursor: pointer;
  }
  .newMessage-back i {
    margin: auto !important;
  }

  .composeBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%;
  }

  .composeBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    background-color: #fbfbfb;
  }

  .composeBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

  .compose-sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 160px);
  }

  /*Conversation*/

  .conversation {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    /*width: 100%;*/
    border-left: 1px solid rgba(0, 0, 0, .08);
    /*overflow-y: auto;*/
  }

  .message {
    padding: 0 !important;
    margin: 0 !important;
    overflow-y: auto;
    //border: 1px solid #f7f7f7;
    height: calc(100% - 500px);
    border-bottom: 2px solid #E88F3D;
    padding-bottom: 1%!important;
  }

  /* ----------- Laptop Non Retina Screens ----------- */
  @media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .message {
      height: calc(100% - 180px);
    }
    .heading {
      height: 60px;
    }
  }

  /* ----------- Laptop Retina Screens ----------- */
  @media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .message {
      height: calc(100% - 180px);
    }
    .heading {
      height: 60px;
    }
  }

  .message-previous {
    margin : 0 !important;
    padding: 0 !important;
    height: auto;
    width: 100%;
  }
  .previous {
    font-size: 15px;
    text-align: center;
    padding: 10px !important;
    cursor: pointer;
  }

  .previous a {
    text-decoration: none;
    font-weight: 700;
  }

  .message-main-receiver {
    /*padding: 10px 20px;*/
    max-width: 60%;
  }

  .message-main-sender {
    padding: 3px 20px !important;
    margin-left: 40% !important;
    max-width: 60%;
  }

  .message-box {
    .receiver, .sender {
      width: auto !important;
      font-size: 12px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
      word-wrap: break-word;
      display: inline-block;
      background-color: #20212C;
      color: #fff;

      .message-head{
        background-color: #DC924E;
        .message-alias {
          margin: 0 !important;
          margin-left: 50px !important;
          font-size: 1.7em;
          text-align: right;
          color: #262738;
        }
      }

      .message-body{
        padding: 4px 10px 7px !important;

        .message-text {
          margin: 0 !important;
          padding: 5px !important;
          word-wrap:break-word;
          font-weight: 200;
          font-size: 2rem;
          padding-bottom: 0 !important;
        }
      }

      .message-time{
        padding: 4px 10px 7px !important;
        .span {
          margin: 0 !important;
          margin-left: 50px !important;
          font-size: 1.7em;
          text-align: right;
          color: #262738;
        }
      }

    }

    .message-checked{
      color: #0646EC;
    }
  }

  /* ----------- Laptop Non Retina Screens ----------- */
  @media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .message-box {
      .receiver, .sender {
        .message-body{
          .message-text {
            font-size: 1rem;
          }
        }
      }
    }
  }

  /* ----------- Laptop Retina Screens ----------- */
  @media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .message-box {
      .receiver, .sender {
        .message-body{
          .message-text {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .sender {
    float: right;
  }


  /*Reply*/

  .reply {
    height: 400px;
    width: 100%;
    background-color: transparent;
    padding: 10px 5px 10px 5px !important;
    margin: 0 !important;
    z-index: 1000;
  }

  /* ----------- Laptop Non Retina Screens ----------- */
  @media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .reply {
      height: 120px;
    }
  }

  /* ----------- Laptop Retina Screens ----------- */
  @media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .reply {
      height: 120px;
    }
  }

  .reply-emojis {
    padding: 5px !important;
  }

  .reply-emojis i {
    text-align: center;
    padding: 5px 5px 5px 5px !important;
    color: #93918f;
    cursor: pointer;
  }

  .reply-recording {
    padding: 5px !important;
  }

  .reply-recording i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer;
  }

  .reply-send {
    padding: 5px !important;
  }

  .reply-send i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer;
  }

  .reply-main {
    padding: 2px 5px !important;
    margin-right: 0;

    textarea {
      width: 100%;
      height: 200px;
      border: none;
      padding: 10px 20px;
      font: 50px/62px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
    }
  }

  .send-message{
    button{
      float: right;
      color: #E88F3D;
      font-size: 2rem;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: transparent!important;
    }
  }

  /* ----------- Laptop Non Retina Screens ----------- */
  @media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .reply-main > textarea {
      height: 50px;
      font: 14px/22px "Lato", Arial, sans-serif;
    }

    .send-message > button{
      font-size: 1rem;
    }
  }

  /* ----------- Laptop Retina Screens ----------- */
  @media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .reply-main > textarea {
      height: 50px;
      font: 14px/22px "Lato", Arial, sans-serif;
    }
    .send-message > button{
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 800px) {
    .send-message{
      button{

      }
    }
    .app {
      top: 0;
      height: 100%;
    }
    .heading {
      height: 70px;
    }
    .fa-2x {
      font-size: 2.3em !important;
    }
    .heading-avatar {
      padding: 0 !important;
    }
    .heading-avatar-icon img {
      height: 50px;
      width: 50px;
    }
    .heading-compose {
      padding: 5px !important;
    }
    .heading-compose i {
      color: #fff;
      cursor: pointer;
    }
    .heading-dot {
      padding: 5px !important;
      margin-left: 10px !important;
    }
    .heading-dot i {
      color: #fff;
      cursor: pointer;
    }
    .sideBar {
      height: calc(100% - 130px);
    }
    .sideBar-body {
      height: 80px;
    }
    .sideBar-avatar {
      text-align: left;
      padding: 0 8px !important;
    }
    .avatar-icon img {
      height: 55px;
      width: 55px;
    }
    .sideBar-main {
      padding: 0 !important;
    }
    .sideBar-main .row {
      padding: 0 !important;
      margin: 0 !important;
    }
    .sideBar-name {
      padding: 10px 5px !important;
    }
    .name-meta {
      font-size: 16px;
      padding: 5% !important;
    }
    .sideBar-time {
      padding: 10px !important;
    }
    .time-meta {
      text-align: right;
      font-size: 2em;
      padding: 4% !important;
      color: rgba(0, 0, 0, .4);
      vertical-align: baseline;
    }
    /*Conversation*/
    .conversation {
      padding: 0 !important;
      margin: 0 !important;
      height: 100%;
      /*width: 100%;*/
      border-left: 1px solid rgba(0, 0, 0, .08);
      /*overflow-y: auto;*/
    }
    .message {
      height: calc(100% - 140px);
    }
    .reply {
      height: 70px;
    }
    .reply-emojis {
      padding: 5px 0 !important;
    }
    .reply-emojis i {
      padding: 5px 2px !important;
      font-size: 1.8em !important;
    }
    .reply-main {
      padding: 2px 8px !important;
    }
    .reply-main textarea {
      padding: 8px !important;
      font-size: 18px;
    }
    .reply-recording {
      padding: 5px 0 !important;
    }
    .reply-recording i {
      padding: 5px 0 !important;
      font-size: 1.8em !important;
    }
    .reply-send {
      padding: 5px 0 !important;
    }
    .reply-send i {
      padding: 5px 2px 5px 0 !important;
      font-size: 1.8em !important;
    }
  }

  .form-control{
    font-size: 2em;
  }
  input[type="submit"]{
    font-size: 2em;
  }

  .badge-new-message{
    position: relative;
  }
  a.new-message-pop-up{
    position: absolute;
    font-size: 3em;
    font-weight: bold;
    padding: 15px;
    border-radius: 50%;
    background-color: #002a80;
    color: white;
    text-align: center;
    width: 100px;
    z-index: 99999999;
  }

  .no-avatar{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    color: white;
    font-size: 1.5em;
    padding: 4px;
    text-transform: uppercase;
    background-color: #0069D9;
    text-align: center;
  }
}

.chat-room{
  $color_wild_sand_approx: whitesmoke;
  $silver: silver;
  $white: white;
  $color_bon_jour_approx: #e0e0de;
  $color_quill_gray_approx: #d4d4d4;

  .mytext {
    border: 0;
    padding: 10px;
    background: $color_wild_sand_approx;
  }
  .text {
    width: 75%;
    display: flex;
    flex-direction: column;
    > p {
      &:first-of-type {
        width: 100%;
        margin-top: 0;
        margin-bottom: auto;
        line-height: 13px;
        font-size: 12px;
      }
      &:last-of-type {
        width: 100%;
        text-align: right;
        color: $silver;
        margin-bottom: -7px;
        margin-top: auto;
      }
    }
  }
  .text-l {
    float: left;
    padding-right: 10px;
  }
  .text-r {
    float: right;
    padding-left: 10px;
  }
  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    float: left;
    padding-right: 10px;
  }
  .macro {
    margin-top: 5px;
    width: 85%;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    padding: 5px;
    display: flex;
  }
  .msj-receiver {
    float: right;
    background: $color_wild_sand_approx;
    &:after {
      width: 0;
      height: 0;
      content: "";
      top: -5px;
      left: 14px;
      position: relative;
      border-style: solid;
      border-width: 13px 13px 0 0;
      border-color: $color_wild_sand_approx transparent transparent transparent;
    }
  }
  .msj-sender {
    float: left;
    background: $white;
    &:before {
      width: 0;
      height: 0;
      content: "";
      top: -5px;
      left: -14px;
      position: relative;
      border-style: solid;
      border-width: 0 13px 13px 0;
      border-color: transparent $white transparent transparent;
    }
  }
  .frame {
    background: $color_bon_jour_approx;
    height: 450px;
    overflow: hidden;
    padding: 0;
    > div:last-of-type {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
    }
  }
  ul {
    width: 100%;
    list-style-type: none;
    padding: 18px;
    position: absolute;
    bottom: 47px;
    display: flex;
    flex-direction: column;
    top: 0;
    overflow-y: scroll;
  }
  ::-webkit-input-placeholder {
    color: $color_quill_gray_approx;
  }
  ::-moz-placeholder {
    color: $color_quill_gray_approx;
  }
  :-ms-input-placeholder {
    color: $color_quill_gray_approx;
  }
  :-moz-placeholder {
    color: $color_quill_gray_approx;
  }
  body > div > div > div {
    &:nth-child(2) > span {
      background: $color_wild_sand_approx;
      padding: 10px;
      font-size: 21px;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 50%;
    }
    &.msj-receiver.macro {
      margin: auto;
      margin-left: 1%;
    }
  }
  input:focus {
    outline: none;
  }
}