= f.input :name, label: 'Nombre del distrito'
= f.input :logo, as: :file
= f.association :users, collection: User.all.map {|user| [user, user.id]}, label: 'Ciudadanos', input_html: {class: 'select2'}
= f.button :submit, class: 'btn btn-block btn-primary'