.feed-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.feed-box {
  #background-color: rgba(95, 108, 116, 0.44);
  background: transparent!important;
  margin: 3px;
  height: 100px;
  width: 100px;
  float: left;
  vertical-align: top;
  text-align: center;
  transition: all .25s ease-in-out;
  &:hover {
    #background: rgba(227, 227, 227, 0.5);
    background: transparent!important;
    transform: scale(1.1);
  }
  img {
    width: 100%;
    max-height: 100%;
  }
}