@font-face {
  font-family: 'Isocpeur';
  src: asset-data-url('isocpeur-webfont.woff') format('woff'), asset-data-url('isocpeur-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.box{
  padding: 15px;
  border: 1px #000000 solid;
  border-radius: 4px;

  &.box-danger{
    color: #721c24;
    background-color: rgba(248, 215, 218, 1);
    border-color: #f5c6cb;
  }
}

.exercise-slot-js{
  font-family: Isocpeur;
}

.btn-border-white{
  border: 1px #fff solid;
  color: #fff;
  background: transparent!important;
}

.btn-border-black{
  border: 1px #000 solid;
  color: #000;
  background: transparent!important;
}
