@import url('https://fonts.googleapis.com/css?family=Oregano');
@font-face {
  font-family: "Kimberley";
  src: url("digital-7.ttf");
}
@font-face {
  font-family: "Isocpeur";
  src: url("ISOCPEUR.ttf");
}
@font-face {
  font-family: "Isocteur";
  src: url("ISOCTEUR.ttf");
}

* {
  font-family: "Isocpeur";
}

body{
  background-color: #F7F7F7;
  font-size: 2.8em;
}

.titulo-app img,
.logo-app img{
  width: 100%;
}

.login-form {
  font-family: 'Kimberley';
}

.form-control {
  color: black;
  font-weight: bold;
  border: 1px solid #000000;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.index-autor, .index-frase{
  font-family: 'Oregano';
  font-size: 2.8em;
}

.index-frase {
  text-align: center;
}

.index-autor {
  text-align: right;
}

.login-form .btn{
  padding: 5px 15px;
}

@media (min-width: 760px) {
  .index-frase {
    font-weight: 500;
  }
  .help-block {
    font-weight: 500;
    font-size: 50px;
  }
  .login-form {
    h4{
      font-size: 18px;
    }
    input[type="email"], input[type="password"], .btn{
      border: 5px solid #000000;
      border-radius: 10px;
    }
    input[type="email"], input[type="password"]{
      padding: 0 10px;
      height: 50px;
    }
  }
  .form-control {
    font-size: 20px;
    display: block;
    width: 100%;
    height: auto;
    padding: 6px 12px;
  }
  .form-control {
    display: block;
    width: 100%;
    height: 85px;
    padding: 9px 15px;
  }
  .form-control, .file-input .input-group-btn button, .file-input .input-group-btn a, .file-drop-zone-title, select, .btn, .login-form h4 {
    font-size: 45px;
  }
}

@media (min-width: 992px) {
  .login-form {
    h4{
      font-size: 18px;
    }
    input[type="email"], input[type="password"], .btn{
      border: 5px solid #000000;
      border-radius: 10px;
    }
    input[type="email"], input[type="password"]{
      padding: 0 10px;
      height: 50px;
    }
  }
  .form-control {
    font-size: 20px;
    display: block;
    width: 100%;
    height: auto;
    padding: 6px 12px;
  }
  .index-frase {
    font-weight: 500;
  }
  .help-block{
    font-weight: 500;
    font-size: 50px;
  }
  .form-control {
    display: block;
    width: 100%;
    height: 85px;
    padding: 9px 15px;
  }
  .form-control, .file-input .input-group-btn button, .file-input .input-group-btn a, .file-drop-zone-title, select, .btn, .login-form h4 {
    font-size: 20px;
  }
}


@media (min-width: 1200px) {
  .help-block {
    font-size: 30px;
  }
  .login-form {
    h4{
      font-size: 18px;
    }
    input[type="email"], input[type="password"], .btn{
      font-size: 20px;
      border: 2px solid #000000;
      border-radius: 7px;
    }
    input[type="email"], input[type="password"]{
      padding: 0 10px;
      height: 50px;
    }
  }
  .form-control {
    font-size: 20px;
    display: block;
    width: 100%;
    height: auto;
    padding: 6px 12px;
  }
}