= f.input :statement, label: 'Descripción'
= f.input :code, label: 'Código secreto'
= f.input :valid_until, label: 'Fecha de explosión'
= render 'manager/partials/time_beneficts', f: f, custom_label: 'Tiempo de beneficio', suffix: 'benefit'
small Este tiempo se repartirá entre todos los padawans que desactiven la mina antes de la fecha de explosión

= f.button :submit, class: 'btn btn-block btn-primary'