.row
  .col-12
    .LI-profile-badge  data-version="v1" data-size="medium" data-locale="es_ES" data-type="horizontal" data-theme="dark" data-vanity="araluce"
      a class="LI-simple-link" href='https://es.linkedin.com/in/araluce?trk=profile-badge' Álvaro Fernández-Alonso Araluce