content  = '<div class="exercise-preview">';
content += '  <div class="card">';
content += '    <div class="container-fluid">';
content += '      <div class="wrapper row">';
content += '        <div class="preview col-md-6">';
content += '          <div class="preview-pic tab-content">';
content += '            <div class="pic tab-pane active">';
content += '              <%= image_tag @object.icon.url(:medium), class: 'img-thumbnail' %>';
content += '            </div>';
content += '          </div>';
content += '        </div>';
content += '        <div class="details col-md-6">';
content += '          <h3 class="product-title"> <%= @object.title.titleize %></h3>';
content += '          <div class="rating">';
content += '            <div class="stars">';
content += '              <span class="fa fa-star checked">';
content += '            </div>';
content += '            <span class="review-no">41 reviews</span>';
content += '          <p class="product-description"><%= @object.statement %></p>';
content += '          <h4 class="price">';
content += '            current price:';
content += '            <p> <%= seconds_to_s(@object.time_benefit) %> </p>';
content += '          </h4>';
content += '          <p class="vote">';
content += '            <strong> 91% </strong>';
content += '            of buyers enjoyed this product!';
content += '            <strong> (87 votes) </strong>';
content += '          </p>';
content += '          <h5 class="colors">';
content += '            colors:';
content += '            <span class="color orange not-available" data-toggle="tooltip" title=("Not In store")></span>';
content += '            <span class="color green"></span>';
content += '            <span class="color blue"></span>';
content += '          </h5>';
content += '          <div class="action">';
content += '            <button class="add-to-cart btn btn-default" type="button">  buy </button>';
content += '          </div>';
content += '        </div>';
content += '      </div>';
content += '    </div>';
content += '  </div>';
content += '</div>';

$('.exercise-slot-js').html(content);