#fancy-list-group {
  h4 {
    font-weight: bold;
  }
  .list-group li.list-group-item {
    padding: 0;
    border: 0;
    position: relative;
    display: table;
    border-collapse: separate;
    .list-group-item-addon {
      display: table-cell;
      width: 1%;
      white-space: nowrap;
      vertical-align: middle;
      padding: 10px 20px;
      line-height: 1;
      text-align: center;
      border: 1px solid #444;
      border-bottom: 0;
      background-color: #444;
      span {
        font-size: 40px;
        font-weight: normal;
        color: #fff;
      }
      &.with-img{
        margin: 0 auto;
        & img {
          border-radius: 50%;
          height: 49px;
          width: 49px;
        }

        .no-avatar{
          height: 49px!important;
          width: 49px!important;
        }

      }
      a {
        color: #fff;
        font-size: 20px;
        margin: 0 3px;
      }

    }
    &.list-group-item-success {
      .list-group-item-addon {
        border: 1px solid #3c763d;
        background-color: #3c763d;
      }
      .list-group-item-content {
        border-color: #3c763d;
      }
      .list-group-item-controls .label {
        background-color: #3c763d;
        color: #fff;
      }
    }
    &.list-group-item-info {
      .list-group-item-addon {
        border: 1px solid #31708f;
        background-color: #31708f;
      }
      .list-group-item-content {
        border-color: #31708f;
      }
      .list-group-item-controls .label {
        background-color: #31708f;
        color: #fff;
      }
    }
    &.list-group-item-warning {
      .list-group-item-addon {
        border: 1px solid #8a6d3b;
        background-color: #8a6d3b;
      }
      .list-group-item-content {
        border-color: #8a6d3b;
      }
      .list-group-item-controls .label {
        background-color: #8a6d3b;
        color: #fff;
      }
    }
    &.list-group-item-danger {
      .list-group-item-addon {
        border: 1px solid #a94442;
        background-color: #a94442;
      }
      .list-group-item-content {
        border-color: #a94442;
      }
      .list-group-item-controls .label {
        background-color: #a94442;
        color: #fff;
      }
    }
    .list-group-item-content {
      display: table-cell;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 0;
      position: relative;
      z-index: 2;
      float: left;
      width: 100%;
      margin-bottom: 0;
      border: 1px solid #444;
      border-right: 0;
      border-bottom: 0;
      padding: 10px;
    }
  }
}