@import "bootstrap";
@import "animate";
@import "font-awesome";
@import "datatables";
@import "alerts";
@import "static/navbar";

.vh-100{
  height: 100vh;
}

.btn-enter{
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari */
  transform: rotate(20deg);
}


