@import url('https://fonts.googleapis.com/css?family=Oregano');


@font-face {
  font-family: 'burbank';
  src: asset-data-url('BurbankBigCondensed-Bold.woff2') format('woff2'),
  asset-data-url('BurbankBigCondensed-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'deathstar';
  src: asset-data-url('death-star.regular.woff') format('woff'), asset-data-url('death-star.regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 100%;

  background: asset-data-url('static/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//************************
//     SINTIME BUTTON
//************************
.btn-sintime{
  margin-top: 15px;
  margin-bottom: 15px;
  //display: inline-block;
  //padding: 8px 12px;
  //border: 2px #ced4da solid;
  //background-color: rgba(255, 215, 0, 0.4);
  //border-radius: 4px;
  width: 100%;

  img{
    width: 80%;
  }

  .btn-sintime-label{
    font-size: 320%;
    font-family: deathstar;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #AA9D15;
    //text-shadow: 0 4px 20px #ffbc00;
  }

  &:hover{
    background-color: rgba(255, 188, 0, .4);
  }

}

.future-card{
  border-radius: 15px;
  border: 3px rgba(255, 188, 0, 0.8) solid;
  background-color: rgba(255, 188, 0, .2);
  padding: 55px;
  -moz-box-shadow:    inset 0 0 10px 10px rgba(255, 188, 0, .7);
  -webkit-box-shadow: inset 0 0 10px 10px rgba(255, 188, 0, .7);
  box-shadow:         inset 0 0 10px 10px rgba(255, 188, 0, .7);
  min-height: 100px;

  label{
    text-transform: uppercase;
    color: #AA9D15;
    font-size: 200%;
    font-family: deathstar;
    font-weight: 300;
    text-align: center;
  }
}