@import url('https://fonts.googleapis.com/css?family=Oregano');


@font-face {
  font-family: 'burbank';
  src: asset-data-url('BurbankBigCondensed-Bold.woff2') format('woff2'),
  asset-data-url('BurbankBigCondensed-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'deathstar';
  src: asset-data-url('death-star.regular.woff') format('woff'), asset-data-url('death-star.regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ar_destine';
  src: asset-data-url('ARDESTINE.woff') format('woff'), asset-data-url('ARDESTINE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  //background-color: #313440;
  background-color: #000;
}

//************************
//     SINTIME BUTTON
//************************
.btn-sintime{
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 0!important;
  padding-right: 0!important;
  background-color: transparent!important;
  width: 100%;

  img{
    width: 80%;
  }

  .btn-sintime-label{
    font-size: 1.4em;
    font-family: ar_destine;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #AA9D15;
  }

  &:hover{
    //background-color: rgba(255, 188, 0, .4);
    background-color: rgba(255, 255, 255, .9)!important;
  }

  .badge{
    position: absolute;
    top: 1em!important;
    right: 1em;
    font-family: Isocpeur;
    font-size: 1.5em;
    height: 100px;
    width: 100px;
  }

}


.future-card-button{
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
  background: transparent!important;
  //background-color: white;
  //border-radius: 15px;
  //border: 3px rgba(255, 255, 255, 0.8) solid;
  padding: 55px;
  //-moz-box-shadow:    inset 0 0 10px 10px rgba(255, 255, 255, .7);
  //-webkit-box-shadow: inset 0 0 10px 10px rgba(255, 255, 255, .7);
  //box-shadow:         inset 0 0 10px 10px rgba(255, 255, 255, .7);
  min-height: 100px;

  label{
    text-transform: uppercase;
  }

  &:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, rgba(247, 149, 51, 0.2), rgba(243, 112, 85, 0.2), rgba(239, 78, 123, 0.2), rgba(161, 102, 171, 0.2), rgba(80, 115, 184, 0.2), rgba(16, 152, 173, 0.2), rgba(7, 179, 155, 0.2), rgba(111, 186, 130, 0.2));
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.badge-success{
  color: white;
  background-color: #0069D9;
}

.img-circle {
  border-radius: 50%;
}

@include media-breakpoint-up(xs) {
  html {
    font-size: 50px;
  }
}

@include media-breakpoint-up(ms) {
  html {
    font-size: 40px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 40px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 20px;
  }
  .btn-sintime-label {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 30px;
  }
  .btn-sintime-label {
    font-size: 1rem;
  }
}

.no-avatar{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 1.5em;
  padding: 4px;
  text-transform: uppercase;
  background-color: #0069D9;
  text-align: center;
  & span{
    display: inline;
  }

}