@import url('https://fonts.googleapis.com/css?family=Oregano');


@font-face {
  font-family: 'burbank';
  src: asset-data-url('BurbankBigCondensed-Bold.woff2') format('woff2'),
  asset-data-url('BurbankBigCondensed-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'deathstar';
  src: asset-data-url('death-star.regular.woff') format('woff'), asset-data-url('death-star.regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ar_destine';
  src: asset-data-url('ARDESTINE.woff') format('woff'), asset-data-url('ARDESTINE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  //background-color: #313440;
  background-color: #161623;
}

//************************
//     SINTIME BUTTON
//************************
.btn-sintime{
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 0!important;
  padding-right: 0!important;
  //background-color: transparent!important;
  //background-color: #21212d;
  background-image: linear-gradient(120deg, #11383a 7.14%, #262635 7.14%, #262635 21.43%, #27273a 21.43%, #27273a 50%, #11383a 50%, #11383a 57.14%, #262635 57.14%, #262635 71.43%, #27273a 71.43%, #27273a 100%);    background-size: 4.62px 8.00px;
  background-size: 4.62px 8.00px;
  width: 100%;

  img{
    width: 80%;
  }

  .btn-sintime-label{
    font-size: 1.4em;
    font-family: ar_destine;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    //color: #AA9D15;
    color: #f68b1f;
  }

  &:hover{
    //background-color: rgba(255, 255, 255, .9)!important;
    background-image: none;
    background-color: #f68b1f;
    .btn-sintime-label{
      color: #21212d;
    }
  }

  .badge{
    position: absolute;
    top: 1em!important;
    right: 1em;
    font-family: Isocpeur;
    font-size: 1.5em;
    height: 100px;
    width: 100px;
  }

}


.future-card-button{
  //--borderWidth: 3px;
  position: relative;
  padding: 55px;
  min-height: 100px;

  label{
    text-transform: uppercase;
    color: #f68b1f;
  }
}

.badge-success{
  color: white;
  background-color: #0069D9;
}

.img-circle {
  border-radius: 50%;
}

@include media-breakpoint-up(xs) {
  html {
    font-size: 50px;
  }
}

@include media-breakpoint-up(ms) {
  html {
    font-size: 40px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 40px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 20px;
  }
  .btn-sintime-label {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 30px;
  }
  .btn-sintime-label {
    font-size: 1rem;
  }
}

.no-avatar{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 1.5em;
  padding: 4px;
  text-transform: uppercase;
  background-color: #0069D9;
  text-align: center;
  & span{
    display: inline;
  }

}