= f.input :icon, label: 'Icono'
= f.input :title, label: 'Título'
= f.input :statement, label: 'Enunciado'
= render 'manager/partials/time_beneficts', f: f

= f.button :submit, class: 'btn btn-block btn-primary'